{% extends 'base.html' %}
{% block body %}
<h1 class="text-center">영화 목록</h1>

<div class="swiper-container">
    <div class="swiper-wrapper"></div>
        <div class="swiper-slide">
        {% for movie in movies %}
            <a href="{% url 'movies:detail' movie.pk %}"><img id="list_img" src="{{ movie.poster_url }}"></a>
        {% endfor %}
        </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Swiper JS -->
  {% load static %}
  <script src="{% static 'dist/js/swiper.min.js' %}"></script>
    
  <!-- Initialize Swiper -->
  <script>
    var appendNumber = 600;
    var prependNumber = 1;
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      centeredSlides: true,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      virtual: {
        slides: (function () {
          var slides = [];
          for (var i = 0; i < 600; i += 1) {
            slides.push('Slide ' + (i + 1));
          }
          return slides;
        }()),
      },
    });
  </script>

{% endblock %}

