{% extends 'base.html' %}
{% block body %}
<h1 class="text-center">영화 목록</h1>

<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for movie in movies %}
        <div class="swiper-slide">
            <a href="{% url 'movies:detail' movie.pk %}"><img id="list_img" src="{{ movie.poster_url }}"></a>
        </div>
        {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
{% load static %}
<script src="{% static 'dist/js/swiper.min.js' %}"></script>
  
<!-- Initialize Swiper -->
<script>
  // const listmovies = movies
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 4,
    centeredSlides: true,
    spaceBetween: 0,
    slidesPerGroup: 4,
    loop: true,
    // loopFillGroupWithBlank: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% endblock %}